<head>
	<style>
		#wrapper {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
		}

		#header {
			margin-bottom: 60px;
			padding: 20px;
			background-color: #f0f0f0;
			border-radius: 10px;
		}

		#content {
			padding: 20px;
			background-color: #f0f0f0;
			border-radius: 10px;
		}
		
	</style>
</head>

<body>
	<div id="wrapper">
		<div class="jumbotron" id="header">
			<h1 class="display-4"> Welcome! </h1>
			<p class="lead"> You're at the apartment-booking website. </p>
		</div>
		<div class="jumbotron" id="content">
			<router-outlet></router-outlet>
		</div>
	</div>
</body>
